.fc-time-grid .fc-slats td {
    height: 2em;
}
.btn_drafts{
  text-align: center;
  background-color: #ddd;
  border: 2px outset white;
  position: relative;
  padding: 10px;
  width: 100%;
}
#addDraft{
  background-color: green;
  text-align: center;
  border: 1px solid green;
  padding: 1px;
  border: 2px outset green;
}
#addDraft:hover{
  background-color: green;
  border: 2px inset green;
    cursor: pointer;
}
#delDraft{
  background-color: red;
  text-align: center;
  border: 1px solid red;
  padding: 1px;
  border: 2px outset red;
}
#delDraft:hover{
  background-color: red;
  border: 2px inset red;
    cursor: pointer;
}
.btn_drafts:hover{
  cursor: pointer;
  border: 2px inset black;
  background-color: white;
}
#drafts{
  background-color: #004A80;
  width:100%;
  bottom: 0;
  color:white;
}
#drafts_wrapper{
  max-height: 10%;
  padding: 1%;
  border:2px solid black;
}
#drafts ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#drafts li{
  display: inline-block;
  background-color: #444444;
  padding: 8px 16px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
#drafts li a{
  text-decoration: none;
  color: white;
  padding:5px;
}
#drafts .active {
  background-color: lightblue;
  color: black;
}
#drafts .active a{
  color: black;
}
#head{
  background-color: #003471;
  color:white;
  padding: 5px;
}
table{
  width: 100%;
  background-color: #fff;
  border-spacing: 0px;
  border: 2px solid black;
  empty-cells: show;
  border-collapse: collapse;
  text-align: center;
  color:black;
}
th {
  background-color: lightblue;
  border: 1px solid black;
  white-space: nowrap;
  font-size: 15px;
  height: 30%;
}
th#day{
  font-size: auto;
  width: 10%;
}
.head{
  background-color: blue;
  color: white;
  width: 5%;
}
td{
  border-left: 1px solid black;
}
h1{
  padding-left: 10px;
}
