#nav{
  margin-bottom: 2%;
}
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

#nav li {
    float: left;
    border-right:1px solid #bbb;
}

#nav li:last-child {
    border-right: none;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover:not(.active) {
    background-color: #111;
}

#nav .active {
    background-color: lightblue;
    color:black;
}
