body{
  height:100%;
  min-height: 120%;
  width: 100%;
}
table{
  text-align: left;
}
#modal{
  /* (ENTIRE BODY) */
  text-align: left;
  margin: auto auto;
}
#modal th, td{
  background-color: white;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
#modal td{
  padding: 3%;
}
.modalbtn{
  padding:2%;
  background-color: #aaa;
  width: 30%;
  text-align: center;
  border: 2px solid black;
}
.modalbtn:hover{
  background-color: #777;
  border: 2px inset black;
  cursor: pointer;
}
#confirm{
  display: none;
  margin: 10px;
}
#confirm span{
  background-color: yellow;
  margin: 10px;
  padding: 6px;
  position: relative;
}
#drop{
  display: block;
}
