.btn{
  padding:2%;
  background-color: #aaa;
  width: 30%;
  text-align: center;
  border: 2px solid black;
}
.btn:hover{
  background-color: #777;
  border: 2px inset black;
  cursor: pointer;
}
#confirm{
  display: none;
  margin: 10px;
}
#confirm span{
  background-color: yellow;
  margin: 10px;
  padding: 6px;
  position: relative;
}
#drop{
  display: block;
}
